* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
}

body {
	display: grid;
	place-items: center;
	background-color: #cccccc;
	background-image: url("engineerImg.jpeg");
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

thead {
	background-color: rgb(59, 21, 2);
	color: white;
	transform-style: preserve-3d;
}

th,
td {
	padding: 1rem;
}

tbody {
	background-color: black
}

tbody tr:nth-of-type(2n) {
	background-color: rgb(169, 195, 133);
}

tbody tr:nth-of-type(2n + 1) {
	background-color: rgb(15, 152, 65);
}